<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="HostedEngineWebServicesUrl" value="http://cloud.scorm.com/EngineWebServices"/>
		<add key="HostedEngineAppId" value="[App Id Here]"/>
		<add key="HostedEngineSecurityKey" value="[Security Key Here]"/>
        <add key="Origin" value="rusticisoftware.netLibrary.1.2.1"/>
		<add key="SmtpUseSSL" value="[Does your Smtp server need SSL? true or false here]"/>
		<add key="SiteName" value="[The name of where the demo app is installed, will appear in the learning invitation links, etc]"/>
	</appSettings>
	<connectionStrings>
		<add name="DemoAppSqlConnection" connectionString="[Sql connection string here]"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="[SMTP Host Here]" port="[SMTP Port Here]" userName="[SMTP Username Here]" password="[SMTP Password Here]"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
